<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.message.forwarding.process.dao.MessageDAO">
	<!-- 插入 -->
	<insert id="save"
		parameterType="com.allen.message.forwarding.process.model.AmfMessageDO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id" statementType="PREPARED" timeout="10">
		insert into `amf_message`
		(
		<trim suffixOverrides=",">
			<if test="id != null">
				`id`,
			</if>
			<if test="messageNo != null">
				`message_no`,
			</if>
			<if test="messageKeyword != null">
				`message_keyword`,
			</if>
			<if test="messageId != null">
				`message_id`,
			</if>
			<if test="businessLineId != null">
				`business_line_id`,
			</if>
			<if test="sourceSystemId != null">
				`source_system_id`,
			</if>
			<if test="httpHeaders != null">
				`http_headers`,
			</if>
			<if test="messageContent != null">
				`message_content`,
			</if>
			<if test="forwardingTotalAmount != null">
				`forwarding_total_amount`,
			</if>
			<if test="forwardingSuccessAmount != null">
				`forwarding_success_amount`,
			</if>
			<if test="createTime != null">
				`create_time`,
			</if>
			<if test="updateTime != null">
				`update_time`,
			</if>
		</trim>
		)
		values ( 
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="messageNo != null">
				#{messageNo},
			</if>
			<if test="messageKeyword != null">
				#{messageKeyword},
			</if>
			<if test="messageId != null">
				#{messageId},
			</if>
			<if test="businessLineId != null">
				#{businessLineId},
			</if>
			<if test="sourceSystemId != null">
				#{sourceSystemId},
			</if>
			<if test="httpHeaders != null">
				#{httpHeaders},
			</if>
			<if test="messageContent != null">
				#{messageContent},
			</if>
			<if test="forwardingTotalAmount != null">
				#{forwardingTotalAmount},
			</if>
			<if test="forwardingSuccessAmount != null">
				#{forwardingSuccessAmount},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
		</trim>
		)
	</insert>
    
	<!-- 根据主键ID更新 -->
    <update id="update" parameterType="com.allen.message.forwarding.process.model.AmfMessageDO">
        update `amf_message`
        set
        <trim suffixOverrides=",">
            <if test="forwardingSuccessAmount != null">
                `forwarding_success_amount` = #{forwardingSuccessAmount},
            </if>
        </trim>
        where `id` = #{id}
        and   `update_time` = #{updateTime}
    </update>
    
    <update id="updateSucessAmount" parameterType="string">
       update `amf_message`
        set `forwarding_success_amount` = `forwarding_success_amount` + 1
        where `message_no` = #{messageNo}
    </update>
    
    <insert id="migrate" parameterType="java.time.LocalDateTime">
    	insert into `amf_message_history`
    	select *
    	from `amf_message`
        where `create_time` &lt; #{deadline}
        and   `forwarding_total_amount` = `forwarding_success_amount`
    </insert>
    
    <delete id="remove" parameterType="java.time.LocalDateTime">
		delete from `amf_message`
        where `create_time` &lt; #{deadline}
        and   `forwarding_total_amount` = `forwarding_success_amount`
	</delete>
	
    <!-- 通用查询语句块 -->
	<sql id="messageColumns">
		id,
		message_no,
		message_keyword,
		message_id,
		business_line_id,
        source_system_id,
		http_headers,
		message_content,
		forwarding_total_amount,
		forwarding_success_amount,
		create_time,
		update_time
	</sql>
    
    <resultMap id="messageResultMap" type="com.allen.message.forwarding.process.model.AmfMessageDO" >
        <result property="id" column="id"/>
        <result property="messageNo" column="message_no"/>
        <result property="messageKeyword" column="message_keyword"/>
        <result property="messageId" column="message_id"/>
        <result property="businessLineId" column="business_line_id"/>
        <result property="sourceSystemId" column="source_system_id"/>
        <result property="httpHeaders" column="http_headers"/>
        <result property="messageContent" column="message_content"/>
        <result property="forwardingTotalAmount" column="forwarding_total_amount"/>
        <result property="forwardingSuccessAmount" column="forwarding_success_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <select id="get" parameterType="string" resultMap="messageResultMap">
        select
        <include refid="messageColumns"></include>
        from  `amf_message`
        where `message_no` = #{messageNo}
    </select>
    
    <select id="count" parameterType="com.allen.message.forwarding.process.model.MessageQueryParamDTO" resultType="int">
		select count(*)
		from  `amf_message`
		<where>
			<if test="messageNo != null">
				message_no = #{messageNo}
			</if>
			<if test="messageKeyword != null">
				and message_keyword = #{messageKeyword}
			</if>
			<if test="messageId != null">
				and message_id = #{messageId}
			</if>
			<if test="businessLineId != null">
				and business_line_id = #{businessLineId}
			</if>
			<if test="sourceSystemId != null">
				and source_system_id = #{sourceSystemId}
			</if>
			<if test="beginDate != null">
				and create_time &gt;= unix_timestamp(#{beginDate})
			</if>
			<if test="endDate != null">
				and create_time &lt;= unix_timestamp(#{endDate})
			</if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="list" parameterType="com.allen.message.forwarding.process.model.MessageQueryParamDTO" resultMap="messageResultMap">
        select
        <include refid="messageColumns"></include>
        from  `amf_message`
		<where>
			<if test="messageNo != null">
				message_no = #{messageNo}
			</if>
			<if test="messageKeyword != null">
				and message_keyword = #{messageKeyword}
			</if>
			<if test="messageId != null">
				and message_id = #{messageId}
			</if>
			<if test="businessLineId != null">
				and business_line_id = #{businessLineId}
			</if>
			<if test="sourceSystemId != null">
				and source_system_id = #{sourceSystemId}
			</if>
			<if test="beginDate != null">
				and create_time &gt;= unix_timestamp(#{beginDate})
			</if>
			<if test="endDate != null">
				and create_time &lt;= unix_timestamp(#{endDate})
			</if>
				order by create_time desc
			<if test="startNo != null and pageSize != null">
				limit #{startNo}, #{pageSize}
			</if>
		</where>
	</select>
</mapper>