<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allen.message.forwarding.metadata.dao.BusinessLineConfigDAO">
	<!-- 插入 -->
	<insert id="save"
		parameterType="com.allen.message.forwarding.metadata.model.AmfBusinessLineConfigDO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id" statementType="PREPARED" timeout="10">
		insert into `amf_business_line_config`
		(
		<trim suffixOverrides=",">
			<if test="id != null">
				`id`,
			</if>
			<if test="businessLineId != null">
				`business_line_id`,
			</if>
			<if test="businessLineName != null">
				`business_line_name`,
			</if>
			<if test="deleted != null">
				`is_deleted`,
			</if>
			<if test="createdBy != null">
				`created_by`,
			</if>
			<if test="createTime != null">
				`create_time`,
			</if>
			<if test="updatedBy != null">
				`updated_by`,
			</if>
			<if test="updateTime != null">
				`update_time`,
			</if>
		</trim>
		)
		values ( 
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="businessLineId != null">
				#{businessLineId},
			</if>
			<if test="businessLineName != null">
				#{businessLineName},
			</if>
			<if test="deleted != null">
				#{deleted},
			</if>
			<if test="createdBy != null">
				#{createdBy},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updatedBy != null">
				#{updatedBy},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
		</trim>
		)
	</insert>
    
	<!-- 根据主键ID更新 -->
    <update id="update" parameterType="com.allen.message.forwarding.metadata.model.AmfBusinessLineConfigDO">
        update `amf_business_line_config`
        set
        <trim suffixOverrides=",">
            <if test="businessLineName != null and businessLineName!=''">
                `business_line_name` = #{businessLineName},
            </if>
            <if test="deleted != null">
                `is_deleted` = #{deleted},
            </if>
            <if test="updatedBy != null and updatedBy!=''">
                `updated_by` = #{updatedBy},
            </if>
        </trim>
        where `id` = #{id}
        and   `update_time` = #{updateTime}
    </update>
    
    <!-- 通用查询语句块 -->
	<sql id="businessLineConfigColumns">
		id,
		business_line_id,
		business_line_name,
		is_deleted,
		created_by,
		create_time,
		updated_by,
		update_time
	</sql>
    
    <resultMap id="businessLineConfigResultMap" type="com.allen.message.forwarding.metadata.model.AmfBusinessLineConfigDO" >
        <result property="id" column="id"/>
        <result property="businessLineId" column="business_line_id"/>
        <result property="businessLineName" column="business_line_name"/>
        <result property="deleted" column="is_deleted"/>
        <result property="createdBy" column="created_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <select id="get" parameterType="long" resultMap="businessLineConfigResultMap">
        select
        <include refid="businessLineConfigColumns"></include>
        from  `amf_business_line_config`
        where `id` = #{id}
        and   `is_deleted` = 0
    </select>
    
    <select id="getByBusinessLineId" parameterType="long" resultMap="businessLineConfigResultMap">
        select
        <include refid="businessLineConfigColumns"></include>
        from  `amf_business_line_config`
        where `business_line_id` = #{businessLineId}
        and   `is_deleted` = 0
    </select>
    
    <!-- 模糊查询 -->
	<select id="list4Fuzzy" resultMap="businessLineConfigResultMap">
        select
        <include refid="businessLineConfigColumns"></include>
        from  `amf_business_line_config`
        <where>
			<if test="businessLineId != null and businessLineId != ''">
				`business_line_id` like CONCAT('%', #{businessLineId}, '%')
			</if>
			<if test="businessLineName != null and businessLineName != ''">
				and `business_line_name` like CONCAT('%', #{businessLineName}, '%')
			</if>
			    and `is_deleted` = 0
		</where>
	</select>

	<select id="count" resultType="int">
		select count(*)
		from  `amf_business_line_config`
		<where>
			<if test="businessLineId != null and businessLineId != ''">
				`business_line_id` like CONCAT('%', #{businessLineId}, '%')
			</if>
			<if test="businessLineName != null and businessLineName != ''">
				and `business_line_name` like CONCAT('%', #{businessLineName}, '%')
			</if>
			and `is_deleted` = 0
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="list4Paging" resultMap="businessLineConfigResultMap">
        select
        <include refid="businessLineConfigColumns"></include>
        from  `amf_business_line_config`
		<where>
			<if test="param.businessLineId != null and param.businessLineId != ''">
				`business_line_id` like CONCAT('%', #{param.businessLineId}, '%')
			</if>
			<if test="param.businessLineName != null and param.businessLineName != ''">
				and `business_line_name` like CONCAT('%', #{param.businessLineName}, '%')
			</if>
			and `is_deleted` = 0
		</where>
		order by `id` desc
        limit #{startNo}, #{pageSize}
	</select>
</mapper>